:root {
    --light_blue: #9aaede;
    --pastel_blue: #658ac5 ;
    --blue: #2a5cc8;
    --dark_blue: #14358f;
    --deep_blue: #040b1e; 
}

@font-face {
    font-family: "JetBrains-Regular";
    src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
}

@font-face {
    font-family: "JetBrains-Bold";
    src: url('/fonts/JetBrainsMono-Bold.woff2') format('woff2');
}

* {
    margin: 0;
    transition: all 0.2s;
    box-sizing: border-box;   
    font-family: "JetBrains-Regular";
}

body {
    background-color: var(--deep_blue);
    hyphens: auto;
    user-select: none;
}

header { 
    margin: 17.5px auto 0 auto;
    width: 70%;
    padding: 10px;
    background-color: var(--blue);
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
    border-radius: 35px;
}

.menuButton {
    margin: 10px;
    padding: 10px 35px;
    background-color: var(--dark_blue);
    color: var(--light_blue);
    cursor: pointer;
    border-radius: 35px;
    font-size: 25px;
    max-width: 100%;
    white-space: nowrap;
    font-family: "JetBrains-Bold";
}

.menuButton:hover {
    background-color: var(--deep_blue);
    border-radius: 17.5px;
    text-shadow: 0 1px 3px var(--light_blue);
}

.vkIcon {
    width: 54px; 
    height: auto; 
    vertical-align: 
    middle; 
    border: 5px solid var(--dark_blue); 
    border-radius: 100%; 
    cursor: pointer;
}

.vkIcon:hover {
    border: 5px solid var(--deep_blue);
    background-color: var(--deep_blue);
}

.contentDiv {
    margin: 17.5px auto 0 auto;
    width: 70%;
    margin-bottom: 17.5px;
    background-color: var(--dark_blue);
    user-select: none;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
    border-radius: 35px;
    padding: 35px;
    overflow: hidden;
    text-align: justify;
    transition: width 0.5s ease, padding 0.5s ease, height 0.5s ease;
}

.contentText {
    font-size: large;
    color: var(--light_blue);
    text-shadow: 0 0px 2px var(--light_blue);
}

a {
    font-size: large;
    color: var(--light_blue);
    text-shadow: 0 0px 2px var(--light_blue);
}

.rolesGrid {
    opacity: 1;
    min-height: 500px;
    margin: 17.5px auto 0 auto;
    width: 70%;
    background-color: var(--blue);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
    border-radius: 35px;
    padding: 35px;
    text-align: justify;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 35px; 
    justify-content: center;
    align-items: center;
    transition: 
    opacity 0.35s ease,
    max-height 0.35s ease;
}

.role {
    min-width: 15%;
    background-color: var(--dark_blue);
    color: var(--light_blue);
    cursor: pointer;
    border-radius: 35px;
    text-align: center;
    font-size: x-large;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    aspect-ratio: 0.5;
    text-align: center;
    box-sizing: border-box;
    text-wrap: wrap;
    padding: 20px;
    margin: 0px;
    position: relative;
    font-family: "JetBrains-Bold";
}

.role:hover {
    background-color: var(--deep_blue);
    border-radius: 20px;
    text-shadow: 0 1px 3px var(--light_blue);

    .roleImg {
        height: 170px;
    }
}

.roleImg {
    height: 150px;
    max-height: 90%;
    box-shadow: 0 0px 5px var(--deep_blue);
    border-radius: 100%;
    margin-bottom: 50px;
}

.fade-out {
    opacity: 0;
}

.hidden {
    opacity: 0;
    max-height: 0;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: stretch;
        height: auto;
        padding: 20px;
        width: 90%;
    }

    .menuButton {
        width: 100%;
        margin: 0px;
        margin-bottom: 10px;
        text-align: center;
        font-size: medium;
    }

    .vkButton {
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }

    .menuButton:last-child {
        margin-bottom: 0;
    }

    .contentDiv {
        width: 90%;
        padding: 30px;
    }
    
    .rolesGrid {
        width: 90%;
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px; 
    }

    .role {
        font-size: medium; 
    }

    .role:hover {
        .roleImg {
            height: 120px;
        }
    }

    .roleImg {
        height: 100px;
        margin-bottom: 15px;
    }
    
    .contentText {
        font-size: medium;
    }

    a {
        font-size: medium;
    }
}

@media (max-width: 350px) {
    .contentDiv {
        padding: 30px;
    }

    .role {
        font-size: small; 
    }

    .rolesGrid {
        gap: 20px; 
    }
    
    .contentText {
        font-size: medium;
    }

    a {
        font-size: medium;
    }
}